// Navbar Styling

.cst-navbar{
    background: white !important;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 3px 8px 1px #0000001f;
    z-index: 1;
    .dropdown-toggle{
        &:after{
            content: "";
            border: none;
        }
    }
}



//::-webkit-scrollbar-track
//{
//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//	background-color: #F5F5F5;
//	border-radius: 4px;
//}
//
//::-webkit-scrollbar
//{
//	width: 10px;
//	background-color: #F5F5F5;
//}
//
//::-webkit-scrollbar-thumb
//{
//	border-radius: 4px;
//	background-image: -webkit-gradient(linear,
//									   left bottom,
//									   left top,
//									   color-stop(0.05, rgb(25,25,25)),
//									   color-stop(0.50, rgb(75,75,75)),
//									   color-stop(0.95, rgb(25,25,25)));
//}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 4px;
	background-color: #000000;
	border: 2px solid #555555;
}


