/*
Template : Covim Dashboard
Author   : Toqeer Haider
Company  : Pace Technologies (PVT) LTD.
Email    : info@pace-tech.com
Website  : pace-tech.com
Version  : 1.0 V
*/



/*
===============================================================================================================
                                                    Styling Files 
===============================================================================================================



1 - Basic
2 - Aside Styling
3 - navbar

*/


@import 'basic'; 
@import 'aside';
@import 'navbar';
@import 'layout';
@import 'responsive'; 